<section class="mat-typography mat-app-background app-frame"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
  <mat-toolbar class="app-toolbar"
               color="primary">
    <span class="header-font cursor-pointer"
          routerLink="home"><%= classify(name) %></span>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="themer.toggleTheme()">
      <mat-icon [color]="themer.isLight ? 'accent' : 'default'">
        {{themer.isLight ? 'brightness_5' : 'brightness_3'}}
      </mat-icon>
    </button>
  </mat-toolbar>
  <section class="app-container">
    <router-outlet></router-outlet>
  </section>
</section>
